<!DOCTYPE html>
<html ng-app="demonetik">
<head>

    <meta charset="utf-8">

    <link rel="icon" href="images/favicon.ico">

    <script src="libs/JQuery/jquery-2.2.0.min.js"></script>
    <script src="libs/Angular/angular.min.js"></script>
    <script src="js/app.js"></script>

    <title>Demonetik</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/FontAwesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grid.css" rel="stylesheet">

</head>

<body>
<div class="container" ng-controller="TransactionsCtrl">

    <div class="page-header">
        <div class="pull-right">
            <img src="images/ensi.png" alt="ENSICAEN" class="img-responsive">
        </div>
        <div>
            <h1>Démonstration de transaction monétique</h1>
            <p class="lead">Réalisation d'une transaction monétique sécurisée sans-contact</p>
        </div>
    </div>

    <div class="transactions-list" ng-if="webservice.isEmpty" style="margin-bottom: 25px;">
        <div class="alert alert-warning" role="alert">
            <h3>Aucune transaction initialisée</h3>
        </div>
    </div>

    <div ng-if="!webservice.isEmpty">

        <div class="transactions-list" style="margin-bottom: 25px;">
            <div class="row">
                <div class="col-2" style="padding-top: 20px;"> <p class="lead"> Transactions : </p></div>
                <div class="col" style="padding-top: 15px;padding-bottom: 15px;">
                    <select class="form-control" ng-init="selectFirst()" ng-model="Transaction.id"
                            ng-change="webservice.getTransaction(Transaction.id)">
                        <option ng-repeat="transaction in webservice.transactions" value="{{transaction.id}}">
                           {{transaction.date.substring(0,8)}} - {{transaction.name}} ({{transaction.id.substring(0,8)}})
                        </option>
                    </select>
                </div>
                <div class="col-2">
                    <button ng-click="webservice.deleteAll()" class="btn btn-secondary">Supprimer les transactions</button>
                </div>
            </div>
        </div>

        <div id="transaction" ng-if="Transaction !== null">

            <div class="progress" style="margin-bottom: 20px">
                <div class="progress-bar progress-bar-striped" ng-class="Transaction.barStatus" role="progressbar"
                     ng-style="Transaction.barWidth">
                </div>
            </div>

            <h3>Dispositifs</h3>
            <p>Les colonnes ci-dessous détaillent les opérations au sein de chaque dispositif.</p>

            <div class="actors">

                <div class="row">
                    <div class="col text-center" ng-repeat="actor in Transaction.actors">
                        <img src="{{actor.image}}" class=" center-block" height="150px">
                        <h4> {{actor.name}} </h4>
                    </div>
                </div>

                <div class="row" ng-repeat="step in Transaction.steps">
                    <div class="col" ng-repeat="actor in Transaction.actors">
                        <h5 class="list-group-item-heading" ng-if="step.actor === actor.name">
                            #{{step.sequence}} {{step.state}} <span class="fa fa-check-circle-o"
                                                                    style="color: green; float: right;"></span>
                            <p class="list-group-item-text">{{step.message}}</p>
                        </h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="footer fixed-bottom text-center">
    <div class="row">
        <div class="container">
            <div class="col align-self-center">
            </div>
        </div>
    </div>
</div>
</body>
</html>