div h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

h4 {
    margin-top: 25px;
    font-weight: bold;
    text-align: center;
}

h5 {
    text-align: left;
    font-size: 19px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

li {
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    /*border-top: 1px solid #ddd;*/
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}